.contact {
    text-align: center;
}

#contact-form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contact-form input, 
#contact-form textarea {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: var(--card-background);
    color: var(--text-color);
}

#contact-form textarea {
    min-height: 200px;
}

#contact-form button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

#contact-form button:hover {
    background-color: var(--secondary-color);
}
